@import './slick.scss';
@import './slick-theme.scss';

// контейнер по умолчанию. Отступ между колонками
$colGups: 5px;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
  lt: 320px,
  sm: 375px,
  xs: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

// breakpoints variabels
$lt: 320px;
$sm: 374px;
$xs: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1439px;

//

$columns: 12;

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i;
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}
// variables
$mainColor: #444;
$mainBackground: #fff;

//===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

//===========  mixins end ===========//

@mixin col-create() {
  @while $col > 0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (max-width: $lg) {
    padding: 0 16px;
  }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

// layout

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^="col"] {
  width: 100%;
  min-height: 1px;
}

html {
  font-size: 16px;
}

@include col-create();

.logo {
  font-weight: 900;
  font-size: 18px;

  &--white {
    color: white;
  }
}

.title {
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 24px;

  @media screen and (max-width: $xl) {
    font-size: 30px;
  }

  @media screen and (max-width: $lg) {
    font-size: 24px;
  }
}

.about {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 48px;

  @media screen and (max-width: $xl) {
    font-size: 14px;
  }
}

.menu {
  display: none;

  @media screen and (max-width: $lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14px;
    width: 30px;
    position: relative;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;

    &__item {
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #000;
    }
  }
}

.header {
  padding: 19px 0;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;

    @media screen and (max-width: $lg) {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 55px;
        left: 0;
        right: -16px;
        background-color: white;
        padding: 17px 24px;
      }
    }
  }

  &__item {
    font-size: 14px;

    @media screen and (max-width: $lg) {
      font-size: 18px;
    }

    & + & {
      padding-left: 24px;

      @media screen and (max-width: $lg) {
        padding-left: 0;
        padding-top: 24px;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      padding-left: 35px;

      @media screen and (max-width: $lg) {
        padding-left: 0;
      }
    }
  }

  &__btn {
    border: 2px solid #000000;
    background: transparent;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 33px;

    @media screen and (max-width: $lg) {
      margin-bottom: 37px;
    }

    &:hover {
      color: #ff699f;
      border-color: #ff699f;
      cursor: pointer;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $lg) {
    order: 1;
  }

  &__img {
    img {
      @media screen and (max-width: $lg) {
        height: 100%;
        object-fit: cover;
      }

      @media screen and (max-width: $lg) {
        height: auto;
      }
    }

    @media screen and (max-width: $lg) {
      margin: 0 -16px;
    }
  }

  &__title {
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 16px;

    @media screen and (max-width: $xxl) {
      font-size: 65px;
    }

    @media screen and (max-width: $xl) {
      font-size: 55px;
    }

    @media screen and (max-width: $lg) {
      font-size: 36px;
      padding-bottom: 11px;
      padding-top: 20px;
      line-height: 1;
      max-width: 267px;
    }
  }

  &__city {
    font-size: 24px;
    padding-bottom: 40px;

    @media screen and (max-width: $lg) {
      font-size: 14px;
      padding-bottom: 18px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 45px;
    padding-right: 68px;

    @media screen and (max-width: $xl) {
      font-size: 14px;
      padding-bottom: 24px;
      padding-right: 24px;
    }

    @media screen and (max-width: $lg) {
      padding-right: 0;
      max-width: 300px;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 16px;
    color: #ff699f;
    line-height: 1.5;
    padding: 10px 40px;
    border: 2px solid #ff699f;
    border-radius: 3px;
    width: fit-content;

    &:hover {
      color: #000;
    }
  }
}

.services {
  padding: 100px 0;

  @media screen and (max-width: $lg) {
    padding: 56px 0;
  }

  .slick-slider .slick-track, .slick-slider .slick-list {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    .slick-list {
      padding-bottom: 16px;
    }
  }

  &__item {
    width: fit-content;
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    margin-right: 16px;
  }

  &__text {
    min-height: 219px;
    display: flex;
    flex-direction: column;
    padding: 40px 25px 0;

    @media screen and (max-width: $lg) {
      padding: 18px 16px 0;
    }
  }

  &__name {
    font-size: 24px;
    padding-bottom: 24px;
    font-weight: 900;

    @media screen and (max-width: $xl) {
      font-size: 20px;
    }

    @media screen and (max-width: $lg) {
      font-size: 18px;
      padding-bottom: 16px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;

    @media screen and (max-width: $xl) {
      font-size: 14px;
    }

    @media screen and (max-width: $lg) {
      font-size: 13px;
    }
  }

  &__description + &__description {
    padding-top: 8px;
  }
}

.offer {
  padding-bottom: 40px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    flex-wrap: wrap;
    @media screen and (max-width: $lg) {
    }
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 60px;
  }

  &__img {
    width: fit-content;
    padding-bottom: 13px;
  }

  &__description {
    font-size: 16px;
    text-align: center;
    width: 57%;
    line-height: 1.5;

    @media screen and (max-width: $xl) {
      font-size: 12px;
    }
  }
}

.footer {
  padding: 35px 0;
  background-color: #000;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
  }
}
