// контейнер по умолчанию. Отступ между колонками
$colGups: 5px;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
  xs: 1440px
);

$columns: 12;

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i;
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}
// variables
$mainColor: #444;
$mainBackground: #fff;

//===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

//===========  mixins end ===========//

@mixin col-create() {
  @while $col > 0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  width: 100%;
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: inherit;
}

// layout

.row {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^="col"] {
  width: 100%;
  min-height: 1px;
}

html {
  font-size: 16px;
}

@include col-create();

.logo {
  font-weight: 900;
  font-size: 18px;

  &--white {
    color: white;
  }
}

.title {
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 24px;
}

.about {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 48px;
}

.header {
  padding: 19px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }

  &__item {
    font-size: 14px;
    padding-right: 24px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__btn {
    border: 2px solid #000000;
    background: transparent;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 33px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 16px;
  }

  &__city {
    font-size: 24px;
    padding-bottom: 40px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 45px;
  }

  &__btn {
    font-weight: 600;
    font-size: 16px;
    color: #ff699f;
    line-height: 1.5;
    padding: 10px 40px;
    border: 2px solid #ff699f;
    border-radius: 3px;
    width: fit-content;
  }
}

.services {
  padding: 100px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: fit-content;
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
  }

  &__text {
    min-height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
  }

  &__name {
    font-size: 24px;
    padding-bottom: 24px;
    font-weight: 900;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
  }

  &__description + &__description {
    padding-top: 8px;
  }
}

.offer {
  padding-bottom: 40px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 60px;
  }

  &__img {
    width: fit-content;
    padding-bottom: 13px;
  }

  &__description {
    font-size: 16px;
    text-align: center;
    width: 57%;
    line-height: 1.5;
  }
}

.footer {
  padding: 35px 0;
  background-color: #000;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
  }
}
