@media only screen and (min-width: 1440px) {
  [class*="col-xs"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: inherit;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -5px;
  margin-left: -5px;
}

[class^="col"] {
  width: 100%;
  min-height: 1px;
}

html {
  font-size: 16px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66667%;
}

.col-10 {
  width: 83.33333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66667%;
}

.col-7 {
  width: 58.33333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66667%;
}

.col-4 {
  width: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66667%;
}

.col-1 {
  width: 8.33333%;
}

.logo {
  font-weight: 900;
  font-size: 18px;
}

.logo--white {
  color: white;
}

.title {
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 24px;
}

.about {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 48px;
}

.header {
  padding: 19px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
}

.header__item {
  font-size: 14px;
  padding-right: 24px;
}

.header__item:hover {
  text-decoration: underline;
}

.header__btn {
  border: 2px solid #000000;
  background: transparent;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 33px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-size: 72px;
  font-weight: 900;
  padding-bottom: 16px;
}

.hero__city {
  font-size: 24px;
  padding-bottom: 40px;
}

.hero__description {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 45px;
}

.hero__btn {
  font-weight: 600;
  font-size: 16px;
  color: #ff699f;
  line-height: 1.5;
  padding: 10px 40px;
  border: 2px solid #ff699f;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.services {
  padding: 100px 0;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
          box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
}

.services__text {
  min-height: 219px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
}

.services__name {
  font-size: 24px;
  padding-bottom: 24px;
  font-weight: 900;
}

.services__description {
  font-size: 16px;
  line-height: 1.5;
}

.services__description + .services__description {
  padding-top: 8px;
}

.offer {
  padding-bottom: 40px;
}

.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.offer__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 13px;
}

.offer__description {
  font-size: 16px;
  text-align: center;
  width: 57%;
  line-height: 1.5;
}

.footer {
  padding: 35px 0;
  background-color: #000;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */