/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-cofee: unicode(ea01);
$icon-door: unicode(ea02);
$icon-figure: unicode(ea03);
$icon-friends: unicode(ea04);
$icon-images: unicode(ea05);
$icon-smiles: unicode(ea06);
$icon-star: unicode(ea07);
$icon-talented: unicode(ea08);

.icon-cofee::before {
  content: $icon-cofee;
}

.icon-door::before {
  content: $icon-door;
}

.icon-figure::before {
  content: $icon-figure;
}

.icon-friends::before {
  content: $icon-friends;
}

.icon-images::before {
  content: $icon-images;
}

.icon-smiles::before {
  content: $icon-smiles;
}

.icon-star::before {
  content: $icon-star;
}

.icon-talented::before {
  content: $icon-talented;
}

